/* my colors

tomato: #D73A31;
teal: #5c6bc0;
teal-dark: #076278;
cerulean: #56B1BF;
cerulean-dark: #5c6bc0;
stone wash: #D0D3C5;
stone wash light: #f3f4f0;
hunter: #5c6bc0;

*/

/* colors palette
red: #e57373 rgb(229, 115, 115)
red-text: #e53935;
dark-grey: #22272b rgb(34, 39, 43)
indygo: #5c6bc0 rgb(92, 107, 192)
indygo-text: #303f9f
amber: #ffc107
*/
body {
  color: #22272b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #22272b;
}

.header {
  background-color: #22272b;
}

.pt-wrapper {
  background-color: #22272b;
}

a, a:visited, a:active {
  color: #22272b; 
}

a:hover {
  color: #e57373;
}

/* Buttons */
input[type='submit'],
input[type='button'],
button,
a.button {
  border: 2px solid #e57373;
  color: #5c6bc0;
}

input[type='submit']:hover,
input[type='submit']:focus,
input[type='button']:focus,
button:hover,
button:focus,
a.button:hover,
a.button:focus {
  color: #fff;
  background-color: #e57373;
}

.form-control,
.form-control:focus,
.has-error .form-control,
.has-error .form-control:focus {
  border: 1px solid #d0d3c5;
}

.form-control + .form-control-border {
  background: #ffc107;
}

.event-date {
  background-color: #e57373;
}

.event-date:after {
  border-right: 5px solid #ef9a9a;
}

.site-title {
  color: #fff;
}

p.site-description {
  color: #e57373;
  font-size: 20px;
}

.site-nav {
  padding-left: 10px;
  padding-right: 10px;
}

.site-main-menu li a,
.site-main-menu li a:hover {
  color: #fff;
}

.site-main-menu li a:hover,
.site-main-menu li.active a {
  background-color: inherit;
  color: #fff;
}

.site-main-menu li a {
  color: rgba(255, 255, 255, 0.3);
  font-size: 16px;
  border-bottom: 1px solid rgba(241, 242, 244, 0.1);
}

.site-main-menu li a:hover {
  color: rgba(255, 255, 255, 0.9);
  font-size: 16px;
  border-bottom: 1px solid rgba(241, 242, 244, 0.1);
}

.site-main-menu li:first-child a {
  border-top: none;
}

.site-main-menu li.active a:after {
  background-color: #e57373;
}

.site-main-menu li.active a:after {
  background-color: #e57373;
}


.info-list li .title:after {
  background-color: #e57373;
}

.block-title h3:after {
  background-color: #e57373;
}

.section-title {
  background-color: #5c6bc0;
}

.section-title:after {
  border-right: 10px solid #3f51b5;
}

.section-title.red {
  background-color: #e57373;
}

.section-title.red:after {
  border-right: 10px solid #ef9a9a;
}

.blog-card .post-date {
  display: inline-block;
  background-color: #e57373;
}

ul.social-links li a {
  color: #fff;
  background-color: #5c6bc0;
}

ul.social-links li a:hover {
  background-color: #e57373;
}

ul.social-links li a:hover {
  color: #fff;
}

ul.social-links li a i {
  font-size: 20px;
  line-height: 28px;
}

.portfolio-filters li a:hover {
  background-color: #f3f4f0;
}

.portfolio-filters li.active a,
.portfolio-filters li.active a:hover {
  background-color: #e57373;
}

.portfolio-grid figure a div h5:after {
  background-color: #e57373;
}

.testimonials.owl-carousel .owl-nav .owl-prev,
.testimonials.owl-carousel .owl-nav .owl-next {
  background-color: #f3f4f0;
}

.testimonials.owl-carousel .owl-nav .owl-prev:hover,
.testimonials.owl-carousel .owl-nav .owl-next:hover {
  background-color: #e57373;
}

.services-icons {
  font-size: 72px;
  color: rgba(92, 107, 192, 0.2)
  
}

.fun-fact-block {
  padding: 15px 20px;
  box-shadow: 1px 3px 8px rgba(92, 107, 192, 0.3);
  min-height: 300px;
  
}

.fun-fact-block.gray-bg {
  background-color: #fff;
}

.fun-fact-block > p {
  color: #22272b;
}

.fun-fact-block .fun-value {
  color: #303f9f;
  font-size: 20px;
  font-weight: 500;
}

.mobile-header {
  border-bottom: none;
  background-color: #22272b;
  color: #fff;
}

.menu-toggle i {
  color: #fff;
}

.my-photo img {
  border: none;
}

.site-main-menu li a:hover:after,
.site-main-menu li.active a:after {
  background-color: inherit;
}

/* .site-main-menu li.red a:hover:after,
.site-main-menu li.active.red a:after {
  background-color: #e57373;
}

.site-main-menu li.indygo a:hover:after,
.site-main-menu li.active.indygo a:after {
  background-color: inherit;
} */

.ci-icon i {
  font-size: 28px;
  color: #5c6bc0;
}

.contact-info-block .ci-icon {
  margin-top: -17px;
}


.block-title h2 {
  display: inline-block;
  margin: 0 0 15px;
  padding-bottom: 3px;
}

.block-title h2:after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  margin-top: -1px;
}

.block-title h3.red:after {
  background-color: #e57373;
}

.block-title h2.red:after {
  background-color: #e57373;
}

.block-title h3.indygo:after {
  background-color: #5c6bc0;
}

.block-title h2.indygo:after {
  background-color: #5c6bc0;
}

.portfolio-filters li a {
  color: #e57373;
}

.portfolio-filters li a:hover {
  background-color: #ef9a9a;
  color: #fff;
}

.general-info-photo {
  margin-bottom: 20px;
}

.section-description.red {
  color: #e53935;
  font-size: inherit;
}

.section-description.indygo {
  color: #303f9f;
  font-size: inherit;
}


input[type='submit'].red, input[type='button'].red, button.red, a.button.red {
  border: 1px solid #e57373;
  color: #e53935;
}

button.red:hover, a.button.red:hover {
  border: 1px solid #e57373;
  background-color: #e57373;
  color: #fff;
}

.section-with-bg {
  background-image: url('../images/main_pic.jpg');
}

.home-page-block-bg .mask {
  background: rgba(34, 39, 43, 0.5);
}

.home-page-block .info-list li, .home-page-block .info-list li span.title, .home-page-block .info-list li a {
  color: #fff;
  padding-bottom: 5px;
}

.text-rotate {
  margin-top: 20px;
  margin-bottom: 15px;
}

@media only screen and (max-width: 991px) {
  .section-with-bg {
    background-image: url('../images/main_pic2.jpg');
  }
}


.owl-carousel {
  /* prevent Chrome error: Unable to preventDefault inside passive  */
  touch-action: manipulation; 
}