/* my colors

tomato: #D73A31;
teal: #5c6bc0;
teal-dark: #076278;
cerulean: #56B1BF;
cerulean-dark: #5c6bc0;
stone wash: #D0D3C5;
stone wash light: #f3f4f0;
hunter: #5c6bc0;

*/


/* colors palette
red: #e57373 rgb(229, 115, 115)
dark-grey: #22272b rgb(34, 39, 43)
indygo: #5c6bc0 rgb(92, 107, 192)
*/

h1, h2, h3, h4, h5, h6 {
  color: #22272b;
}


.header {
  background-color: #22272b;
}

.pt-wrapper {
  background-color: #22272b;
}

/* Buttons */
input[type=submit], input[type=button], button, a.button {
  border: 2px solid #e57373;
  color: #5c6bc0;
}


input[type=submit]:hover, input[type=submit]:focus, input[type=button]:focus, button:hover, button:focus, a.button:hover, a.button:focus {
  color: #fff;
  background-color: #e57373;
}

.form-control,
.form-control:focus,
.has-error .form-control,
.has-error .form-control:focus {
  border: 1px solid #D0D3C5;
}

.form-control + .form-control-border {

  background: #ffc107;

}

.event-date {
  background-color: #ffc107;
}

.event-date:after {
  border-right: 5px solid #ffa000;
}



.site-title {
  color: #fff;
}

p.site-description {
  color: #e57373;
  font-size: 20px;
}

.site-nav {
  padding-left: 10px;
  padding-right: 10px;
}

.site-main-menu li a,
.site-main-menu li a:hover {
  color: #fff;
}

.site-main-menu li a:hover, .site-main-menu li.active a {
  background-color: inherit;
  color: #fff;
}

.site-main-menu li a {
  color: rgba(255, 255, 255, 0.3);
  font-size: 16px;
  border-bottom: 1px solid rgba(241, 242, 244, 0.1);
}

.site-main-menu li a:hover {
  color: rgba(255, 255, 255, 0.9);
  font-size: 16px;
  border-bottom: 1px solid rgba(241, 242, 244, 0.1);
}



.site-main-menu li:first-child a {
  border-top: none;
}

.site-main-menu li.active a:after {
background-color: #e57373;
}

.site-main-menu li.active a:after {
  background-color: #e57373;
}

.info-list li .title:after {
  background-color: #56B1BF;
}


.block-title h3:after {
    background-color: #e57373;
}

.section-title {
    background-color: #5c6bc0;
}

.section-title:after {
    border-right: 10px solid #3f51b5;
}




.blog-card .post-date {
  display: inline-block;
  background-color: #e57373;

}

ul.social-links li a {
  color: #fff;
  background-color: #5c6bc0;

}

ul.social-links li a:hover {
  background-color: #e57373;
}

ul.social-links li a:hover {
  color:  #fff;
}

ul.social-links li a i {
  font-size: 20px;
  line-height: 28px;
}


.portfolio-filters li a:hover {
  background-color: #f3f4f0;
}

.portfolio-filters li.active a,
.portfolio-filters li.active a:hover {
  background-color: #e57373;
}

.portfolio-grid figure a div h5:after {
  background-color: #e57373;
}

.testimonials.owl-carousel .owl-nav .owl-prev,
.testimonials.owl-carousel .owl-nav .owl-next {
  background-color: #f3f4f0;
}


.testimonials.owl-carousel .owl-nav .owl-prev:hover,
.testimonials.owl-carousel .owl-nav .owl-next:hover {
  background-color: #e57373;
}

.services-icons {
  font-size: 72px;
  color: rgba(255, 255, 255, 0.4);
}

.fun-fact-block.gray-bg {
  background-color: rgba(34, 39, 43, 0.3);

}

.fun-fact-block .fun-value {
  color: #fff;
}

.fun-fact-block > p {
  color: rgba(255, 255, 255, 0.9);
}
